
<p id="notice"><%= notice %></p>
<article class="article_show">
<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong><br />
  <%= image_tag(@idea.picture_url, :width => 100) if @idea.picture.present? %>
</p>
</article>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>






